@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Noto+Sans+Hebrew:wght@500;600;900&family=Noto+Sans+Mono:wght@300;700;900&family=Source+Code+Pro:ital,wght@0,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 18px;
  background-color: #ffffff;
  color: #272222;
  font-family: "Baloo 2", cursive;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
  justify-content: center;
}

div {
  box-sizing: border-box;
}

h1 {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 2.4em;
  letter-spacing: 2px;
  font-weight: 800;
  color: #660b26;
  margin: 0;
  padding: 20px;
}

nav {
  background-color: #10674c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  padding: 10px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

p {
  text-align: center;
  margin: 0 20px;
  font-size: 1.5em;
  font-weight: 400;
}

.contact-h1 {
  text-align: center;
  font-size: 2.4em;
  letter-spacing: 2px;
  font-weight: 800;
  color: #660b26;
  padding-top: 85px;
  margin-bottom: 0;
}

.footer-heading {
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  font-weight: 200;
  padding-top: 20px;
  margin-bottom: 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 10px;
}

.nav-links a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  transform: translateX(0%);
  font-size: 1.5em;
}

.nav-links a:hover {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  letter-spacing: 4px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}

.hero-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-link {
  text-decoration: none;
  background-color: #10674c;
  border: 5px solid #10674c;
  border-radius: 32px;
  font-size: 1.5em;
  transition: all 200ms ease;
  font-weight: 200;
  color: white;
  padding: 8px;
  text-align: center;
}

.hero-link:hover {
  background-color: #b32e55;
  border: 5px solid #10674c;
  box-shadow: 0px 8px 8px 0px rgb(72, 74, 57);
  font-weight: 200;
}

.main-link {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 1.8em;
  text-decoration: none;
  color: #b32e55;
  font-weight: 300;
}

.section-1-hero {
  display: block;
  justify-items: center;
}

.section-2-about-me {
  max-width: 100%;
  padding: 0 60px;
  margin: 20px;
}

.section-3-my-skills {
  background-color: #ffece4;
}

.logo {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  margin: 0;
}

.hero-flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ffece4;
  margin-top: 5px;
  padding-top: 85px;
  padding-bottom: 25px;
}

.row {
  display: inline-block;
  padding: 100px, 40px;
}

.typewriter {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 5px;
}

.typewriter-text {
  display: inline-block;
  color: #b32e55;
  font-weight: 800;
  overflow: hidden;
  border-right: 3px solid #89cff0;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  animation: typing 1.7s steps(50, end), blink-caret 0.75s step-end infinite;
  animation-delay: 0s 0s;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, normal;
  animation-fill-mode: none, none;
  animation-play-state: running, running;
  animation-name: typing, blink-caret;
  font-size: 30px;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  25% {
    border-color: #89cff0;
  }
}

.contact-icons {
  max-width: 40px;
  height: auto;
  padding: 20px;
}

p.footer-note {
  text-align: center;
  color: #ffffff;
  font-size: 1em;
}

.fa-github {
  padding: 20px;
}

.fa-linkedin {
  padding: 20px;
}

.fa-envelope {
  padding: 20px;
}

.contact-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px 50px;
}

.skills-badges {
  max-width: 10%;
  height: auto;
  padding: 1em;
  border: 5px solid #f79d5c;
  border-radius: 15%;
  box-shadow: 5px 8px 20px #f79d5c;
}

#avatar-image {
  max-width: 35%;
  height: auto;
  padding-right: 15px;
}

#connect {
  background-color: #10674c;
}

#orange-flower {
  max-width: 10%;
  height: auto;
  align-self: center;
}
#contact-page {
  background-color: #ffece4;
}

form {
  margin: 50px auto;
  width: 90%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 1.5em;
  font-weight: 600;
  color: #660b26;
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  color: rgb(169, 169, 169);
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #f79d5c;
}

.form-item input,
.form-item textarea {
  border: 2px solid #660b26;
  background-color: #fff;
  padding: 10px;
  font-size: 1.2em;
}

.form-item button:hover {
  border: 2px solid#f79d5c;
  background-color: #f79d5c;
  color: #660b26;
}

.form-item button {
  width: 100px;
  background-color: #b32e55;
  border-radius: 12px;
  border: 2px solid #b32e55;
  font-size: 1.2em;
  transition: all 200ms ease;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  font-family: "Baloo 2", cursive;
  margin-top: 20px;
}

@media only screen and (max-width: 950px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 8vh;
    min-height: 92vh;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition: All 0.5s ease-in;
  }
  .nav-links a {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }
  .hero-flex-wrapper {
    flex-direction: column;
    padding-top: 15px;
    text-align: center;
  }
}
.nav-active {
  transform: translateX(0);
}
@media only screen and (max-width: 640px) {
  .nav-links {
    width: 100%;
    transition: All 0.5s ease;
  }
}
.nav-active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
